body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
   background-color: #e9efec;
    height: 80dvh;
}

.usuario-card{
    width:500px;
    background:#f4f4f4;
    padding:20px;
    border-radius:10px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.btn {
    padding: 14px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    width: 100%;
    color: #215C46;
}

.usuarios {
    background: white;
    padding: 30px;
    border-radius: 16px;
    width: 600px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.btn:hover{
    background-color: #CDDAD5;
}

.usuarios{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

.usuario-info{
    text-align:left;
}

.acoes{
    display:flex;
    gap:10px;
}

.btn{
    width:40px;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:6px;
    text-decoration:none;
    color:white;
    font-size:16px;
    transition:0.2s;
}

.btn:hover{
    transform:scale(1.1);
}

/* DOWNLOAD */

.download{
    background:#1e88e5;
}

/* EDITAR */

.editar{
    background:#757575;
}

/* DELETAR */

.deletar{
    background:#e53935;
}