<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Portal Vivo</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="main-container">
    <img src="/static/img/logo.png" style="width: 50%;" alt="">
    <p class="subtitle">Gerencie e acesse suas faturas de forma rápida e segura</p>
    <div class="card">

        <a href="/novo">
            <button class="btn primary">Adicionar Novo Cadastro</button>
        </a>

        <a href="/usuarios">
            <button class="btn secondary">Selecionar Usuário Cadastrado</button>
        </a>
    </div>
    <p class="secure-text">Seus dados estão protegidos e seguros.</p>

</div>

</body>
</html>